.header {
  height: 3em;
  width: 100%;
  background-color: #5a848d
}

.menu-options {
  height: 100%; display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-button {
  color: #ffffff !important;
}
