<div class="header">

  <div class="menu-options">
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="menu-options">CADASTROS
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="open('customers')">Clientes</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="menu2">
      <div class="menu-options">LANÇAMENTOS
        <mat-icon>expand_more</mat-icon>
      </div>

    </button>  
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="open('demands')">Pedidos</button>
    </mat-menu>

    <button mat-button (click)="open('events')">
      <div class="menu-options">EVENTOS
      </div>
    </button>
  </div>
</div>