<div class="header">

  <div class="menu-options">
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="menu-options">CADASTROS
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Produtos</button>
      <button mat-menu-item>Clientes</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="menu2">
      <div class="menu-options">LANÇAMENTOS
        <mat-icon>expand_more</mat-icon>
      </div>

    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>Pedidos</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu3">
      <div class="menu-options">RELATÓRIOS
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item>Vendas</button>
    </mat-menu>
  </div>
</div>