<div>
  <button mat-icon-button type="button" style="display: inline-block; vertical-align: middle;" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div style="display: inline-block; vertical-align: middle;">{{ isNewDemand ? 'NOVO PEDIDO' : 'EDITAR PEDIDO' }}</div>

  <form class="form" [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="customer">
        @for (customer of customers; track customer) {
          <mat-option [value]="customer.id">{{customer.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Descrição" formControlName="description" required></textarea>
    </mat-form-field>
  
    <div class="date-time-container">
      <mat-form-field class="full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="demandDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field class="time-form-field">
        <mat-label>Horário</mat-label>
        <input type="time" matInput placeholder="Horário" formControlName="demandTime" required>
      </mat-form-field>
    </div>
    
  </form>
  <div class="add">
    <button (click)="saveDemand()" mat-flat-button type="submit" color="primary">{{ isNewDemand ? 'SALVAR' : 'ATUALIZAR' }}</button>
  </div>
</div>
