<app-header></app-header>

<div class="container-add">
  <div>
    <button mat-flat-button type="button" color="primary" (click)="addDemand()">ADICIONAR PEDIDO</button>
  </div>
  <div >
    <mat-checkbox color="primary" [(ngModel)]="showOnlyNotFinalized" (click)="loadDemands()">
      Exibir somente pedidos não finalizados
    </mat-checkbox>
  </div>
</div>

<div class="container-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element" style="max-width: 200px;">{{element.customer}}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let element" style="max-width: 200px;">{{element.address}}</td>
      </ng-container>
      
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element" style="max-width: 200px; word-wrap: break-word; white-space: pre-wrap">{{element.description}}</td>
      </ng-container>
      
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
        <td mat-cell *matCellDef="let element" style="min-width: 100px;">{{ element.creationDate | date: 'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="demandDate">
        <th mat-header-cell *matHeaderCellDef>Data limite de Conclusão</th>
        <td mat-cell *matCellDef="let element">{{element.demandDate | date: 'dd/MM/yyyy HH:mm'}}</td>
      </ng-container>
      
      <ng-container matColumnDef="actions" >
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element" style="min-width: 100px;">
          <button mat-icon-button class="small-button" (click)="removeItem(element)">
            <mat-icon style="font-size: 20px;">delete</mat-icon>
          </button>
          <button mat-icon-button class="small-button" (click)="editItem(element)">
            <mat-icon style="font-size: 20px;">edit</mat-icon>
          </button>
          <button *ngIf="!element.finished" mat-icon-button class="small-button" (click)="finishedItem(element)">
            <mat-icon style="font-size: 20px;">check</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
