<div>
  <button mat-icon-button type="button" style="display: inline-block; vertical-align: middle;" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div style="display: inline-block; vertical-align: middle;">{{ isNewCustomer ? 'NOVO CLIENTE' : 'EDITAR CLIENTE' }}</div>

  <form class="form" [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nome" formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Endereço" formControlName="address" required></textarea>
    </mat-form-field>
  </form>

  <div class="add">
    <button (click)="saveCustomer()" mat-flat-button type="submit" color="primary">{{ isNewCustomer ? 'SALVAR' : 'ATUALIZAR' }}</button>
  </div>
</div>
