.container-add {
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.container-table {
  width: 92%;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mat-elevation-z8 {
  min-height: calc(100vh - 225px);
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

.small-button {
  width: 28px;
  height: 28px;
}

.mat-mdc-row {
  height: 30px;
}

.mat-mdc-icon-button {
  padding: 0px;
}